<div class="overflow-auto" style="max-height: 100vh;">
    {% for room in rooms %}
    <div class="card mb-1 bg-dark text-white" >
        <div class="card-body ">
            <div class="d-flex justify-content-between gap-3">
                 <a href="{% url 'userProfile' room.host.id %}" class="card-subtitle text-white fs-5 text-decoration-none">
                    <div class=" d-flex justify-content-start">
                        <img src="{{room.host.avator.url}}" class="rounded-circle border border-secondary" width="30" height="30">
                        <div class="">
                            <sub>@</sub>{{ room.host.username }}<sub> ..host</sub>
                        </div>
                    </div>
                </a>
                <div class="d-flex justify-content-end gap-3">
                    {% if request.user == room.host %}
                    <a href="{% url 'updateRoom' room.id %}" class="btn btn-sm btn-warning"><i class="bi bi-pencil"></i></a>
                    <a href="{% url 'deleteRoom' room.id %}" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i></a>
                    {% endif %}
                </div>
            </div>
            <hr class="border border-white border-1 opacity-50" width="20%">
            <h4 class="card-title"><i class="bi bi-house-check fs-3"></i> .. <a href="{% url 'room' room.id %}" class=" text-decoration-none ">{{ room.name }}</a></h4>
            <p class="card-text">{{ room.description|slice:":200" }}....</p>
            <hr class="border border-white border-1 opacity-50">
            <div class="d-flex justify-content-between">
                <span><i class="bi bi-people"></i> {{room.participants.all.count}} joined</span>
                <span class="badge bg-info">{{ room.topic.name }}</span>
            </div>
           
        </div>
    </div>
{% endfor %}
</div>

